/* Title.css */
.title{
  display: flex;
  width: 50% ;
  margin-top: -35%;
  margin-left: -30%;
}
  h1{
    color: #FFE0AF;
    text-align: center;
    font-family: 'Nerko One', cursive;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0px;
  }

  /* Estilos para pantallas pequeñas (320px a 480px) */
  /*@media (min-width: 320px) and (max-width: 480px) {
    .title {
      margin-top: -3.7%;
      margin-bottom: 2%;
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 0.08em;
    }
  }*/
  