.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .btn:hover {
    background-color:  #FFE0AF;
    color: #555;
    border-color: #aaa;
  }
  
  .btn-selected {
    background-color:  #760909;
    font-size: 20px;
    color: white;
    border: 1px solid  #CF463F;
  }
  