.body{
  
    width: 1024px;
    height: 768px;
    background: #CF463F;
    background-image: url("img/imgfondo.png");
    /*background-image: url("images/fondo.png");*/
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -70%;
}

.container1 {
    width: 1024px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
}
.extra1{
    background-color: aqua;

}
.Extra{
    background-color: red;
}